@page
@model Portfolio.Pages.HomeModel
@{
    ViewData["Title"] = "Home page";
}   

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="container">
        <div class="col-sm">
            <p id="entranceText">Hello</p>
        </div>
    </div>
</body>