@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

    <div class="text-center">
        <img id="signature" src="~/images/signature.png"/>
        <h2 id="entranceText">Portfolio of Bryn Bowler</h2>
        <a id="entranceButton" asp-area="" asp-page="/Home">Enter</a>
    </div>