@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <img id="signature" src="~/images/signature.png"/>
        <h2 id="entranceText">Portfolio of Bryn Bowler</h2>
        <button id="entranceButton">Enter</button>
    </div>
